.Container {
  background-color: #f2f4ff;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 2.5rem;
  padding: 8rem 10rem;

  .left {
    flex: 1.5;
    background-color: rgb(221, 221, 83);
  }

  .right {
    flex: 6;
    background-color: rgb(166, 208, 82);
  }
}
