.FullRoadmap {
  width: 100%;
  height: 100vh;
  background-color: #f2f4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  &-wrapper {
    width: 85%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
