.FunctionWrapper {
  width: 100%;
  height: 100vh;
  background-color: #f2f4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  &-wrapper {
    // background-color: yellowgreen;
    width: 40%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;

    .links {
      //   background-color: yellowgreen;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .link {
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        gap: 1rem;

        .text {
          color: #4661e6;
          font-weight: 900;
        }
      }

      .editLink {
        padding: 1.55rem 2.5rem;
        border-radius: 1rem;
        font-weight: 900;
        color: #fff;
        cursor: pointer;
        transition: all 0.25s;
        background-color: #4661e6;
        text-decoration: none;
        transition: all 0.25s;

        &:hover {
          background-color: #7c91f9;
        }
      }
    }

    // .WHATEVER-BOTTOM-CONTAINER {
    //   background-color: yellow;
    //   width: 100%;
    //   height: 50rem;
    // }
  }
}
