.InnerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    // background-color: yellowgreen;

    .empty-icon {
      margin-bottom: 4rem;
    }

    .empty-desc-wrapper {
      text-align: center;

      .title {
        color: #3a4374;
        font-weight: 900;
        font-size: 2.2rem;
      }

      .text {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        margin-top: 3rem;
        color: #647196;
      }
    }
  }
}
