.Navbar {
  width: 100%;
  padding: 1rem;
  background-color: #373f68;
  color: #fff;
  border-radius: 1rem;

  &-wrapper {
    display: flex;
    justify-content: space-between;

    .left-side {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: 1.5rem;

      .feedbackQuantity {
        font-weight: 900;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
    .right-side {
      .btn {
        background-color: #ad1fea;
        padding: 1.55rem 2.5rem;
        border-radius: 1rem;
        font-weight: 900;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.roadmap-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;

    .icon {
      margin-right: 1.5rem;
    }
  }
}