.NewFeedback {
  width: 100%;
  padding: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  position: relative;

  &-icon {
    position: absolute;
    top: 0;
    left: 4rem;
    transform: translateY(-50%);
  }

  &-wrapper {
    .title {
      font-size: 2.2rem;
      font-weight: 900;
      color: #333b66;
      margin-bottom: 6.6rem;
      margin-top: 2.5rem;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      .label {
        &-title {
          color: #3a4374;
          font-weight: 700;
          margin-bottom: 0.65rem;
        }

        &-text {
          font-weight: 300;
          font-size: 1.4rem;
          margin-bottom: 1.25rem;
          color: #333b66;
        }

        &-input,
        &-select,
        &-textarea {
          border: none;
          outline: none;
          width: 100%;
          padding: 1.25rem 2rem;
          background-color: #f7f8fd;
          font-size: 1.4rem;
          cursor: pointer;
          border-radius: 0.5rem;
          border: 1px solid transparent;
          transition: all 0.25s;

          &:hover,
          &:active,
          &:focus {
            border: 1px solid #4661e6;
          }
        }

        &-select {
          appearance: none;
          background: url("../../assets/shared/icon-arrow-down.svg") #f7f8fd;
          background-repeat: no-repeat;
          background-position: 97.5% 50%;
        }

        &-textarea {
          resize: none;
          height: 10rem;
        }
      }

      &-buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 2rem;

        .cancel,
        .submit {
          padding: 1.55rem 2.5rem;
          border-radius: 1rem;
          font-weight: 900;
          color: #fff;
          cursor: pointer;
          transition: all 0.25s;
        }

        .cancel {
          background-color: #3a4374;

          &:hover {
            background-color: #656ea3;
          }
        }

        .submit {
          outline: none;
          border: none;
          background-color: #ad1fea;

          &:hover {
            background-color: #c75af6;
          }
        }
      }
    }
  }
}
